{% extends "base.html" %}
{% block content %}
<body>
    <style>
    .card {
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 17px;
        padding: 20px;
        max-width: 600px;
        margin: 20px auto;
        font-family: Arial, Helvetica, sans-serif;
        width: 700px;
        
        
        
      }
     

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .header h1 {
        margin: 0;
        font-size: 25px;
      }
      
      .cancel-button {
        color: #fa0050;
        padding: 20px 3px;
         background-color: white;
         border: none;
         border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.6s ease; /* Animasyon için geçiş efekti */
}

.cancel-button:hover {
  background-color: #ff02523b;
  background-size: 10vh;
   /* Üzerine gelindiğinde kırmızı olacak */
}

      .form {
        display: grid;
        gap: 15px;
        
      }
      
      .form label {
        display: block;
        font-size: 10px;
        color: #333;
        margin-left: 15px;
        
      }
      
      .form input {
        padding: 17px;
        border: 0.5px solid #ccc;
        border-radius: 10px;
        font-size: 15px;
      }
      
      .save-button {
        padding: 16px 30px;
        background-color:#e2034a;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 15px;
        transition: transform 0.1s ease;
        
      }
      .save-button:hover {
  transform: scale(1.03); /* Butonu %5 büyütür */
}
    

    
         </style>
    
         <div class="card">
          <div class="header">
            <h1>Kişisel Bilgiler</h1>
            <form action="" method="POST">
              {% csrf_token %}
              {{form}}
              <input type="submit" class="fadeIn fourth" value="Giris Yap">
            </form>
            <button class="cancel-button"><b>Vazgeç</b></button>
          </div>
       
        </div>
        
      
      
      </div>          


</body>
</html>



{% endblock content %}